<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} | eshop.com</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block head %}{% endblock %} {% load static %}

    <link rel="stylesheet" href="{% static 'test/css/normalize.css' %}" />

    <!-- NEREIKIA FOUNDATION -->
    <!-- <link rel="stylesheet" href="{% static 'test/css/foundation.css' %}" /> -->
    <!-- <link rel="stylesheet" href="{% static 'test/css/demo.css' %}" /> -->

    <link href="{% static '/css/xzoom.css' %}" rel="stylesheet" />

    <script src="{% static '/test/js/vendor/jquery.js' %}"></script>

    <!-- xzoom plugin here -->
    <script src="{% static '/js/xzoom.js' %}"></script>
    <script src="{% static '/test/hammer.js/1.0.5/jquery.hammer.min.js' %}"></script>
    <!--[if lt IE 9
      ]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script
    ><![endif]-->
    <link
      rel="stylesheet"
      href="{% static '/test/fancybox/source/jquery.fancybox.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '/test/magnific-popup/css/magnific-popup.css' %}"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static '/css/style.css' %}" rel="stylesheet" />
  </head>

  <body>
    {% include "frontend/header/header.html" %}

    <main class="d-flex flex-column container-fluid content " style="margin-top:25px">
      {% include "frontend/components/message-handler.html" %}
      {% block content %}{% endblock %}
    </main>

    {% include "frontend/footer/footer.html" %}
    <!-- Footer -->

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static '/test/fancybox/source/jquery.fancybox.js' %}"></script>
    <script src="{% static '/test/magnific-popup/js/magnific-popup.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
  </body>
</html>
