{% extends "frontend/base.html" %} {% block content %}

<div class="container-fluid">
  <div class="row p-4">
    <div class="col-md-2 side-menu-container">
      <div class="row">
        {% include "frontend/components/filterSide.html" %}
      </div>
    </div>
    <div class="col-md-10 product-container d-flex flex-column ">
      <div class="row flex-column  ">
        <div class="col">
          <div class="row">
            {% include "frontend/components/products.html" %}
          </div>
        </div>
        <div class="col justify-content-center pagination">
          {% include "frontend/components/product-pagination.html" %}
        </div>
      </div>
    </div>

    {% endblock %}
  </div>
</div>
