<div class="cardx">
    <h1>Select Filters</h1>
    <hr />
    <form method="GET" action="/filter/">
        <div class="d-flex flex-column justify-content-around ">
            {% if propertiesCust %}
                {% for prop in propertiesCust %}
                    <div class="d-flex flex-row justify-content-between">
                        {% if prop.globalName %}
                            <div>
                                <label>{{prop.globalName}}:</label>
                            </div>
                        {% else %}
                            <div class="d-flex flex-row">
                                    <span class="check-input"><input   class="form-control" type="checkbox" name="{{prop.name}}" value="{{prop.description}}" id="prop-{{prop.pk}}" checked></span>
                                    <span>{{prop.description}}</span>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                {% for prop in properties %}
                    <div class="d-flex flex-row justify-content-between" >
                    {% if prop.globalName %}
                        <div>
                            <label>{{prop.globalName}}:</label>
                        </div>
                    {% else %}
                        <div class="d-flex flex-row">
                                <span class="check-input"><input   id="prop-{{prop.pk}}" class="form-control" type="checkbox" name="{{prop.name}}" value="{{prop.description}}" checked></span>
                                <span>{{prop.description}}</span>
                        </div>
                    {% endif %}
                    </div>
                {% endfor %}
        {% endif %}
        </div>

        <hr/>
        <div class="filter-content">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Min</label>
                        <input value="0" name="minPrice" type="number" class="form-control" id="inputEmail4" placeholder="$0" />
                    </div>
                    <div class="form-group col-md-6 text-right">
                        <label>Max</label>
                        <input  value="16500" name="maxPrice" type="number" class="form-control" placeholder="$1,0000" />
                    </div>
                </div>
            </div>
            <!-- card-body.// -->
        </div>

        <button class="btn btn-warning text-white update-prop-btn"  id="update-prop-btn" type="submit">Set Filters</button>
    </form>

</div>