{% extends "frontend/base.html" %} {% block content %}
<div class="product-detail container mt-4 text-left">
  <h1 class="product-detail__heading">{{product.title}}</h1>

  <div class="container p-4">
    <hr />
    <div class="row text-center">
      <div class="col-md-8">
        {% include "frontend/components/product-photos/preview-component.html" %}
      </div>
      <div class="col-md-4">
        {% include "frontend/components/product-photos/product-info.html" %}

        <div class="row">
          <div class="col">
            <button class="btn btn-warning add-to-cart-button" >Add To Cart</button>
          </div>
          <div class="col">
            <button class="btn btn-success buy-button">Buy</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
