
  <div class="col-md-3">
    <figure class="card card-product">
      <div class="img-wrap">
        <img
          src="https://motoday.lt/image/cache/data/striukes/odines/Spidi%202019/spidi_super_r_jacket_red_light_blue_1800x1800-650x650.jpg"
        />
      </div>
      <figcaption class="info-wrap">
        <h6 class="title text-dots"><a  href="/products/1">Biker Jacket</a></h6>
        <div class="action-wrap">
          <a href="/products/1" class="btn btn-primary btn-sm float-right cart-logo">
            <i class="fa fa-shopping-cart"></i>
          </a>
          <div class="price-wrap h5">
            <span class="price-new">$1280</span>
            <del class="price-old">$1980</del>
          </div>
          <!-- price-wrap.// -->
        </div>
        <!-- action-wrap -->
      </figcaption>
    </figure>
    <!-- card // -->
  </div>
    <div class="col-md-3">
    <figure class="card card-product">
      <div class="img-wrap">
        <img
          src="https://motoday.lt/image/cache/data/striukes/odines/Spidi%202019/spidi_super_r_jacket_red_light_blue_1800x1800-650x650.jpg"
        />
      </div>
      <figcaption class="info-wrap">
        <h6 class="title text-dots"><a  href="/products/1">Biker Jacket</a></h6>
        <div class="action-wrap">
          <a href="/products/1" class="btn btn-primary btn-sm float-right cart-logo">
            <i class="fa fa-shopping-cart"></i>
          </a>
          <div class="price-wrap h5">
            <span class="price-new">$1280</span>
            <del class="price-old">$1980</del>
          </div>
          <!-- price-wrap.// -->
        </div>
        <!-- action-wrap -->
      </figcaption>
    </figure>
    <!-- card // -->
  </div>
    <div class="col-md-3">
    <figure class="card card-product">
      <div class="img-wrap">
        <img
          src="https://motoday.lt/image/cache/data/striukes/odines/Spidi%202019/spidi_super_r_jacket_red_light_blue_1800x1800-650x650.jpg"
        />
      </div>
      <figcaption class="info-wrap">
        <h6 class="title text-dots"><a  href="/products/1">Biker Jacket</a></h6>
        <div class="action-wrap">
          <a href="/products/1" class="btn btn-primary btn-sm float-right cart-logo">
            <i class="fa fa-shopping-cart"></i>
          </a>
          <div class="price-wrap h5">
            <span class="price-new">$1280</span>
            <del class="price-old">$1980</del>
          </div>
          <!-- price-wrap.// -->
        </div>
        <!-- action-wrap -->
      </figcaption>
    </figure>
    <!-- card // -->
  </div>
    <div class="col-md-3">
    <figure class="card card-product">
      <div class="img-wrap">
        <img
          src="https://motoday.lt/image/cache/data/striukes/odines/Spidi%202019/spidi_super_r_jacket_red_light_blue_1800x1800-650x650.jpg"
        />
      </div>
      <figcaption class="info-wrap">
        <h6 class="title text-dots"><a  href="/products/1">Biker Jacket</a></h6>
        <div class="action-wrap">
          <a href="/products/1" class="btn btn-primary btn-sm float-right cart-logo">
            <i class="fa fa-shopping-cart"></i>
          </a>
          <div class="price-wrap h5">
            <span class="price-new">$1280</span>
            <del class="price-old">$1980</del>
          </div>
          <!-- price-wrap.// -->
        </div>
        <!-- action-wrap -->
      </figcaption>
    </figure>
    <!-- card // -->
  </div>
    <div class="col-md-3">
    <figure class="card card-product">
      <div class="img-wrap">
        <img
          src="https://motoday.lt/image/cache/data/striukes/odines/Spidi%202019/spidi_super_r_jacket_red_light_blue_1800x1800-650x650.jpg"
        />
      </div>
      <figcaption class="info-wrap">
        <h6 class="title text-dots"><a  href="/products/1">Biker Jacket</a></h6>
        <div class="action-wrap">
          <a href="/products/1" class="btn btn-primary btn-sm float-right cart-logo">
            <i class="fa fa-shopping-cart"></i>
          </a>
          <div class="price-wrap h5">
            <span class="price-new">$1280</span>
            <del class="price-old">$1980</del>
          </div>
          <!-- price-wrap.// -->
        </div>
        <!-- action-wrap -->
      </figcaption>
    </figure>
    <!-- card // -->
  </div>
    <div class="col-md-3">
    <figure class="card card-product">
      <div class="img-wrap">
        <img
          src="https://motoday.lt/image/cache/data/striukes/odines/Spidi%202019/spidi_super_r_jacket_red_light_blue_1800x1800-650x650.jpg"
        />
      </div>
      <figcaption class="info-wrap">
        <h6 class="title text-dots"><a  href="/products/1">Biker Jacket</a></h6>
        <div class="action-wrap">
          <a href="/products/1" class="btn btn-primary btn-sm float-right cart-logo">
            <i class="fa fa-shopping-cart"></i>
          </a>
          <div class="price-wrap h5">
            <span class="price-new">$1280</span>
            <del class="price-old">$1980</del>
          </div>
          <!-- price-wrap.// -->
        </div>
        <!-- action-wrap -->
      </figcaption>
    </figure>
    <!-- card // -->
  </div>
    <div class="col-md-3">
    <figure class="card card-product">
      <div class="img-wrap">
        <img
          src="https://motoday.lt/image/cache/data/striukes/odines/Spidi%202019/spidi_super_r_jacket_red_light_blue_1800x1800-650x650.jpg"
        />
      </div>
      <figcaption class="info-wrap">
        <h6 class="title text-dots"><a  href="/products/1">Biker Jacket</a></h6>
        <div class="action-wrap">
          <a href="/products/1" class="btn btn-primary btn-sm float-right cart-logo">
            <i class="fa fa-shopping-cart"></i>
          </a>
          <div class="price-wrap h5">
            <span class="price-new">$1280</span>
            <del class="price-old">$1980</del>
          </div>
          <!-- price-wrap.// -->
        </div>
        <!-- action-wrap -->
      </figcaption>
    </figure>
    <!-- card // -->
  </div>
    <div class="col-md-3">
    <figure class="card card-product">
      <div class="img-wrap">
        <img
          src="https://motoday.lt/image/cache/data/striukes/odines/Spidi%202019/spidi_super_r_jacket_red_light_blue_1800x1800-650x650.jpg"
        />
      </div>
      <figcaption class="info-wrap">
        <h6 class="title text-dots"><a  href="/products/1">Biker Jacket</a></h6>
        <div class="action-wrap">
          <a href="/products/1" class="btn btn-primary btn-sm float-right cart-logo">
            <i class="fa fa-shopping-cart"></i>
          </a>
          <div class="price-wrap h5">
            <span class="price-new">$1280</span>
            <del class="price-old">$1980</del>
          </div>
          <!-- price-wrap.// -->
        </div>
        <!-- action-wrap -->
      </figcaption>
    </figure>
    <!-- card // -->
  </div>
    <div class="col-md-3">
    <figure class="card card-product">
      <div class="img-wrap">
        <img
          src="https://motoday.lt/image/cache/data/striukes/odines/Spidi%202019/spidi_super_r_jacket_red_light_blue_1800x1800-650x650.jpg"
        />
      </div>
      <figcaption class="info-wrap">
        <h6 class="title text-dots"><a  href="/products/1">Biker Jacket</a></h6>
        <div class="action-wrap">
          <a href="/products/1" class="btn btn-primary btn-sm float-right cart-logo">
            <i class="fa fa-shopping-cart"></i>
          </a>
          <div class="price-wrap h5">
            <span class="price-new">$1280</span>
            <del class="price-old">$1980</del>
          </div>
          <!-- price-wrap.// -->
        </div>
        <!-- action-wrap -->
      </figcaption>
    </figure>
    <!-- card // -->
  </div>
    <div class="col-md-3">
    <figure class="card card-product">
      <div class="img-wrap">
        <img
          src="https://motoday.lt/image/cache/data/striukes/odines/Spidi%202019/spidi_super_r_jacket_red_light_blue_1800x1800-650x650.jpg"
        />
      </div>
      <figcaption class="info-wrap">
        <h6 class="title text-dots"><a  href="/products/1">Biker Jacket</a></h6>
        <div class="action-wrap">
          <a href="/products/1" class="btn btn-primary btn-sm float-right cart-logo">
            <i class="fa fa-shopping-cart"></i>
          </a>
          <div class="price-wrap h5">
            <span class="price-new">$1280</span>
            <del class="price-old">$1980</del>
          </div>
          <!-- price-wrap.// -->
        </div>
        <!-- action-wrap -->
      </figcaption>
    </figure>
    <!-- card // -->
  </div>
    <div class="col-md-3">
    <figure class="card card-product">
      <div class="img-wrap">
        <img
          src="https://motoday.lt/image/cache/data/striukes/odines/Spidi%202019/spidi_super_r_jacket_red_light_blue_1800x1800-650x650.jpg"
        />
      </div>
      <figcaption class="info-wrap">
        <h6 class="title text-dots"><a  href="/products/1">Biker Jacket</a></h6>
        <div class="action-wrap">
          <a href="/products/1" class="btn btn-primary btn-sm float-right cart-logo">
            <i class="fa fa-shopping-cart"></i>
          </a>
          <div class="price-wrap h5">
            <span class="price-new">$1280</span>
            <del class="price-old">$1980</del>
          </div>
          <!-- price-wrap.// -->
        </div>
        <!-- action-wrap -->
      </figcaption>
    </figure>
    <!-- card // -->
  </div>
    <div class="col-md-3">
    <figure class="card card-product">
      <div class="img-wrap">
        <img
          src="https://motoday.lt/image/cache/data/striukes/odines/Spidi%202019/spidi_super_r_jacket_red_light_blue_1800x1800-650x650.jpg"
        />
      </div>
      <figcaption class="info-wrap">
        <h6 class="title text-dots"><a  href="/products/1">Biker Jacket</a></h6>
        <div class="action-wrap">
          <a href="/products/1" class="btn btn-primary btn-sm float-right cart-logo">
            <i class="fa fa-shopping-cart"></i>
          </a>
          <div class="price-wrap h5">
            <span class="price-new">$1280</span>
            <del class="price-old">$1980</del>
          </div>
          <!-- price-wrap.// -->
        </div>
        <!-- action-wrap -->
      </figcaption>
    </figure>
    <!-- card // -->
  </div>
    <div class="col-md-3">
    <figure class="card card-product">
      <div class="img-wrap">
        <img
          src="https://motoday.lt/image/cache/data/striukes/odines/Spidi%202019/spidi_super_r_jacket_red_light_blue_1800x1800-650x650.jpg"
        />
      </div>
      <figcaption class="info-wrap">
        <h6 class="title text-dots"><a  href="/products/1">Biker Jacket</a></h6>
        <div class="action-wrap">
          <a href="/products/1" class="btn btn-primary btn-sm float-right cart-logo">
            <i class="fa fa-shopping-cart"></i>
          </a>
          <div class="price-wrap h5">
            <span class="price-new">$1280</span>
            <del class="price-old">$1980</del>
          </div>
          <!-- price-wrap.// -->
        </div>
        <!-- action-wrap -->
      </figcaption>
    </figure>
    <!-- card // -->
  </div>


