{% extends 'base.html' %}

{% block content %}
    <p>nice</p>
    <h4>{{ product.title }}</h4>
    {{ product.categories }}
    <div>
        {% for property in product.properties.all %}
        {{ property.name }}:
        <div>
            {% if  property.measurement  %}
                 {{ property.measurement }}
            {% endif %}


            {% if  property.description %}
                 {{ property.description }}
            {% endif %}
        </div>


        {% endfor %}
    </div>

{% endblock %}