html {
  font-size: 62.5%;
}

body {
  font-size: 1.85rem;
}

.header .header__contents {
  text-transform: uppercase;
}

.header .header__contents .header__contents__logo {
  margin: 0;
  padding: 0;
  font-size: 4rem;
  font-weight: bold;
}

.header__contents__logo__part-1 {
  color: #ff851b;
}
.header__contents__logo__part-2 {
  color: #111111;
}

.dropdown > button {
  font-size: 1.8rem;
}

.meta__search > form {
  font-size: 5rem;
}

.nav-cart-icon,
.nav-profile-icon {
  padding: 0 1rem 0 1rem;
  cursor: pointer;
}
.nav-profile-icon {
  font-size: 4.2rem;
  color: silver;
}
.nav-cart-icon {
  /* padding: 0 1.5 0 1.5rem; */
  font-size: 4.2rem;
  color: dodgerblue;
  position: relative;
}
.cart-item-count {
  top: -5px;
  margin: -5px;
  position: absolute;
  color: #0074d9;
  font-size: 1.4rem;
}
.cart-item-count.empty {
  color: silver !important;
}

/* MAIN */
/*############# SideMENU CONTAINER */
main {
  min-height: 70vh;
}
.side-menu-container {
  padding: 2rem;
  font-size: 2rem;
}
.btn {
  cursor: pointer;
}

.custom-control-input {
  width: 30px !important; /*Desired width*/
  height: 30px !important; /*Desired height*/
}

/*#############  PRODUCT CONTAINER */
.product-container {
  padding: 3rem;
  border: 1px solid gainsboro !important;
  border-radius: 2rem 2rem;
}

/* CARD STYLES*/

.card-product {
  border-radius: 2rem 2rem;
}
.card-product:after {
  content: '';
  display: table;
  clear: both;
  visibility: hidden;
}
.card-product .price-new,
.card-product .price {
  margin-right: 5px;
  color: #2ecc40;
}
.card-product .price-old {
  color: #ff4136;
}
.price-old,
.price-new {
  font-size: 1.3rem !important;
}

.card-product .img-wrap {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  position: relative;
  height: 220px;
  text-align: center;
}
.card-product .img-wrap img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.card-product .info-wrap {
  overflow: hidden;
  padding: 15px;
  border-top: 1px solid #eee;
}
.card-product .action-wrap {
  padding-top: 4px;
  margin-top: 4px;
}
.card-product .bottom-wrap {
  padding: 15px;
  border-top: 1px solid #eee;
}
.card-product .title {
  font-size: 1.95rem !important;
  margin-top: 0;
}
.cart-logo {
  font-size: 2.5rem;
  height: 4rem;
  width: 5rem;
}

/****** PAGES */

/**** FOOTER*/
section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#footer {
  background: #111 !important;
}
#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #ffffff;
}
#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li {
  padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}
#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff;
}
#footer ul.social li a:hover {
  color: #eeeeee;
}
#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}
#footer ul.quick-links li a i {
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}

/**PAGINATION**/
.pagination .active a {
  color: #143361;
  background-color: transparent;
  font-weight: 600;
}
.pagination .active a:hover {
  background-color: transparent;
  color: #143361;
  border: 0px;
}
.pagination .active a:focus {
  background-color: transparent;
  color: #143361;
  outline: none;
}
.pagination li a {
  border: 1px;
  margin-left: 0px;
  color: #707070;
  padding: 7px 2px;
  margin: 0px 20px;
}
.pagination li a:hover {
  background-color: transparent;
  color: #4a90e2;
  padding-bottom: 2px;
  border-bottom: 1px solid;
}
.pagination li a:focus {
  outline: none;
  background-color: transparent;
}
.pagination li:first-child a,
.pagination li:last-child a {
  border: 2px solid #143361 !important;
  border-radius: 6px;
  margin: 0px;
  padding: 6px 12px;
  border: 2px solid;
  font-size: 14px;
}
.pagination li:first-child a:hover,
.pagination li:last-child a:hover {
  text-decoration: none !important;
  color: #fff;
  background-color: #143361;
}
.pagination li:first-child a:focus,
.pagination li:last-child a:focus {
  outline: none;
}

/*ABOUT PRODUCT */

/* PAGINATION */

.pagination {
  text-align: center;
  margin-top: 1em;
}

.pagination-current,
.pagination-total {
  padding: 0.5em 0.8em;
  border-radius: 2px;
  color: #fff;
  background-color: #30bf61;
}

.pagination-total {
  background-color: #b9b9b9;
}

.pagination-action {
  margin: 0 0.1em;
  display: inline-block;
  padding: 0.5em 0.5em;
  color: #b9b9b9;
  font-size: 1.3em;
}

.pagination-of {
  color: #b9b9b9;
  padding: 0 1em;
}

.pagination-action:hover {
  color: #3354aa;
}

div.xzoom-container {
  text-align: left;
  width: 500px;
  height: 500px;
}

.xzoom-photo-wrapper {
  height: 350px;
  width: 420px;
  padding: 3rem;
}

.xzoom-photo-wrapper > img.xzoom {
  width: auto;
  height: 100%;
  border: 1px solid #eee;
}

.product-detail {
  min-height: 80vh;
}
.product-detail__heading {
  font-size: 6rem;
}

tr:nth-of-type(odd) {
  background: #0074d9;
  color: white;
}

.add-to-cart-button,
.buy-button {
  width: 100%;
  padding: 1.5rem !important;
  font-size: 1.7rem !important;
  color: white !important;
  font-weight: 600 !important;
}

.add-to-cart-button,
.add-to-cart-button:hover,
.buy-button,
.buy-button:hover {
  border: 1px solid #0074d9 !important;
  border-radius: 0.2rem 0.2rem !important;
}

.add-to-cart-button {
  background-color: #ff851b !important;
}

.buy-button {
  background-color: #2ecc40 !important;
}

.add-to-cart-button:hover,
.buy-button:hover {
  background-color: #4a90e2 !important;
  color: white !important;
}

a.profice__auth {
  color: red !important;
}

/*  SIGN IN*/
.container--auth {
  padding: 3rem;
}
.container--auth > form > h1 {
  font-size: 2.6rem;
  font-weight: bold !important;
}
.container--auth > form > input {
  font-size: 2.5rem;
  margin: 1.8rem 0 1.8rem 0;
}
.container--auth > form > button {
  font-size: 2.5rem;
  margin: 1.8rem 0 1.8rem 0;
  color: white;
  font-weight: bold;
}
.container--auth > form > button:hover,
.container--auth > form > button:focus {
  font-size: 2.5rem;
  margin: 1.8rem 0 1.8rem 0;
  color: whitesmoke !important;
  font-weight: bold;
}


/* MESSAGE SYSTEM COMPONENT*/
.message-box {
    padding: 3rem;
}
.error-msg {
    color: #FF4136;
    font-size: 2rem;
}
.success-msg {
    color: #2ECC40;
    font-size: 2rem;
}